# dependencies
/node_modules

# Next.js build output
/.next
/out
/.open-next
/cloudflare-env.d.ts

# local build artifacts
*.tsbuildinfo
/output

# environment files
.env*
!.env.example

# operating system files
.DS_Store
Thumbs.db
